<!DOCTYPE html>
<html>
  <head>
    <title><%= APPNAME %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= APPNAME %></h1>
    <p>
      Go to <a><%= SERVERURL %>api/auth/login</a> to get access token.
    </p>
    <p>
      If you do't have user go to <a><%= SERVERURL %>api/auth/regester</a> to add new user.
    </p>
  </body>
</html>
